html,
body{
    height: 100%;
}
body{
    text-align: center;
    font-family: 'Lucida Sans';
    background: linear-gradient(to right, pink, rgb(243, 140, 243), rgb(255, 195, 83));
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

main{
    display:flex;
    flex-direction: column;
    gap: 24px;
}

img{
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto 20px;
    box-shadow: 0 0 0 2px white;
    transition: all 0.4s;
}

img:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 1px 1px 4px whitesmoke;
}

button:hover {
    transform: scale(1.05);
    transition: all 0.4s;
}

.correct-answer {
    background-color: rgb(64, 239, 64);
    color: white;
    animation: spin 0.5s;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.incorrect-answer {
    background-color: rgb(252, 8, 8);
    color: white;
    animation: shake 0.5s;
}

/* Declaring the activity for the shake animation */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}


